<a href="https://colab.research.google.com/github/KenyJW/AnalisisDatos/blob/main/query_pd_columnas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Country': ['Costa Rica', 'India', 'Brasil'],
'Capital':['San José', 'New Delhi', 'Brasilia'],
'Population':[4500000, 303171035, 207847528]  }
df=pd.DataFrame(data,columns=['Country', 'Capital', 'Population'])
print(df)

      Country    Capital  Population
0  Costa Rica   San José     4500000
1       India  New Delhi   303171035
2      Brasil   Brasilia   207847528

In [ ]:
print("Promedio de los elementos ")
suma=0
media=0
temp=[]
print("Ingrese cantidad de temperaturas")
N=int(input())

for i in range(N):
    temperatura=float(input("Ingrese la temperatura"))
    temp.append(temperatura)
    suma=suma+temp[i]
media=suma/N
print(media)

In [ ]:
from sqlalchemy.sql.expression import true
import pandas as pd
mascota=pd.DataFrame(
    data={
        'name':['Minimo', 'Milo', 'Snoopy', 'Blnco', 'LittlePony'],
        'type': ['gato', 'perro', 'perro', 'perro', 'caballo']
    },
    index=[71, 42, 11, 98, 42]
)
visitas=pd.DataFrame(
    data={
        'pet_id': [42, 31, 71, 42, 98, 42],
        'fecha':['2019-03-15', '2019-03-15', '2019-04-05', '2019-04-06', '2019-04-12', '2019-04-15'],
        'costo': [2000, 5000, 1000, 5000, 6000, 10000]
    }
)
mascota.index.rename('pet_id', inplace=True)
visitas.index.rename('visit_id', inplace=True)

print(mascota.query('pet_id==71'))
print(visitas['costo'].sum())
print(visitas['costo'].min())
print(visitas['costo'].max())

print(visitas)

print(visitas.sort_values(by='costo', ascending=False))

tienda=pd.merge(mascota, visitas,how='cross')

print(tienda)